sample
node_modules
.DS_Store
lib/javascript/dist
lib/javascript/test/transactions-private.ts
lib/javascript/test/test.ts

# No publicly disclosed dumps to test against
lib/javascript/test/subscription.test.ts
lib/javascript/test/subscription-metadata.test.ts

lib/rust/target

lib/java/target
